<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/nav.ejs') %>
  <body>
    <% if (locals.error) { %>
    <p class="error_message_signin"><%= locals.error %></p>
    <% } %>
    <div class="form_wrapper">
      <form class="form_signup" action="/login" method="post">
        <label for="email">Email</label>
        <input
          type="text"
          placeholder="Eg: sharmaaman4419@gmail.com"
          name="email"
        />
        <label for="email">Password</label>
        <input type="text" placeholder="Eg: Qwerty@#" name="password" />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
